//Colours should always be rgb or rgba and only appear in this colours.css.scss

$white:rgb(255,255,255);
$white--transparent:rgba(255,255,255,0.8);
$black:rgb(0,0,0);
$black--transparent:rgba(0,0,0,0.6);